@media (max-width: 1024px) {
 
  /* For slider section */
  #slider{    
    height: 90vh;
  }

  .slider-content{
    height: 350px;
  }

  .slider-content span img{
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  /* .top-sell-products  */
  .top-sell-products .card{
    width: 90%;
    margin: 0 auto;
  }








}

@media (max-width: 991px) {
  /* brand-section */
  .brand-section{
    margin-top: 8rem;
  }

  /* brand-img */
  .brand-img{
    width: 95%;
    margin: auto;
    align-items: center;
  }

  .brand-img a img{
    width: 80rem;
  }
 
  
  /* carousel-img */
 .carousel-item img{
  height: 60vh;
  width: auto;
 }
 
 /* trending product */
 .products-section .card {
  width: 80% !important;
  margin: auto;
 }

  /* For slider section */
  #slider{    
    height: 90vh;
  }

  .slider-content{
    height: 350px;
  }

  .slider-content span img{
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  /* .top-sell-products  */
  .top-sell-products .card{
    width: 90%;
    margin: 0 auto;
  }







}


@media (max-width: 767px) {

  /* brand-section */
  .brand-section{
    margin-top: 8rem;
  }
  
   /* brand-img */
   .brand-img{
    width: 85%;
    margin: auto;
    align-items: center;
  }

  .brand-img a img{
    width: 75rem;
  }

  /* carousel-img */
  .carousel-item img{
    height: 60vh;
    width: auto;
   }

   /* trending product */
  .products-section .card {
    width: 70% !important;
    margin: auto;
  }

  /* For slider section */
  #slider{    
    height: 60vh;
  }

  .slider-content{
    height: 300px;
  }

  .slider-content span img{
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  /* .top-sell-products  */
  .top-sell-products .card{
    width: 90%;
    margin: 0 auto;
  }






}

@media (max-width: 330px) {
  /* brand-section */
  .brand-section{
    margin-top: 18rem;
  }

   /* brand-img */
   .brand-img{
    width: 80%;
    margin: auto;
    align-items: center;
  }

  .brand-img a img{
    width: 60rem;
  }
  
  /* carousel-img */
  .carousel-item img{
    height: 50vh;
    width: auto;
  }
  

   /* trending product */
  .products-section .card {
    width: 60% !important;
    margin: auto;
  }

  /* For slider section */
  #slider{    
    height: 80vh;
  }

  .slider-content{
    height: 250px;
  }

  .slider-content span img{
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  /* .top-sell-products  */
  .top-sell-products .card{
    width: 90%;
    margin: 0 auto;
  }


  
}