@media (max-width: 1024px) {
 
  








}

@media (max-width: 991px) {
  /* hero-area */
  .content-middle{
    padding-top: 10%;
  }







}


@media (max-width: 767px) {

  /* hero-area */
  .content-middle{
    padding-top: 5%;
  }




}

@media (max-width: 330px) {
  /* hero-area */
  .content-middle{
    padding-top: 5%;
  }


  
}