@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap');


*,
*::after,
*::before{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus{
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover{
  color: var(--out-color);
  text-decoration: none;
}

ul,
ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
  max-width: 100%;
}

/* ======== Variables Define ======== */
:root{
  --primary-color: #57C5B6;
  --secondary-color: #0e37bd;
  --third-color: #e83853;
  --white-color: #ffffff;
  --black-color: #000000;
  --text-color: #2b2630;
  --text-gray: #716969;  
  --out-color:  #f80000;
  --gold-color: #fff200;
  --secondary-font: 'Open Sans', sans-serif;
  --primary-font:  'Poppins', sans-serif; 
}

html{
  
  scroll-behavior: smooth;
}

body{
  
  background-color: #f7f7f7;
  font-family: var(--primary-font);
  font-size: 100%;
}

/* ======== Custom Scroll-bar ======== */
::-webkit-scrollbar{
  width: 0.725rem;
}

::-webkit-scrollbar-track{
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb{
  
  background-color: var(--out-color);
}

/* ======== Custom CSS ======== */
h1{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 7px;  
  color: var(--secondary-color);
  background-color: transparent;
  font-family: var(--primary-font);
  text-shadow: 1px 3px 17px var(--text-gray);
  transition: .5s;
}

h1:hover{
  color: var(--text-color);
  letter-spacing: 4px;
  word-spacing: 10px;
}

h2{
  font-size: 2.25rem;
  font-weight: 600;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--third-color);
  margin: 2rem auto;
  text-shadow: 11px 5px 20px var(--text-gray);
  transition: .5s;
}

h2:hover{
 letter-spacing: 3px;
}

h4{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  margin: 1rem;
}

h5{
  font-size: 1.2rem;
  color: var(--out-color);
  font-weight: 500;
  word-spacing: 10px;
}

p{
  font-size: 18px;
  font-weight: 500;
  color: var(--text-gray);
  line-height: 1.3;
  text-align: justify;
  padding: 1rem auto;
  transition: .4s;
}

p:hover{
  color: var(--text-color);
}

.main-btn,
.second-btn{
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 1rem;
  display: inline-block;
  border: 0;
  border-radius: 30rem;
  background-color: var(--text-color);
  color: var(--white-color);
  border: 3px solid var(--primary-color);
  transition: .5s;
}

.main-btn:hover,
.second-btn:hover{  
  color: var(--secondary-color);
  background: transparent;
  box-shadow: 15px 15px 15px var(--text-gray);
}

.main-btn i,
.second-btn i{
  color: var(--primary-color);
  background: var(--white-color);
  padding: .5rem;
  transition: .5s;
  border: 1px solid var(--third-color);
  border-radius: 50%;
}

.main-btn:hover i,
.second-btn:hover i{
  transform : rotate(360deg);
}

.content-header{  
  margin: 5rem auto;  
}

.content-header h2,
.content-header p{
  padding: 1rem 0;
  text-align: center;
}

.flexitem {
  display: flex;
  align-items: center;
}

/*
===================================
        01. header section 
===================================
*/
header,
header nav{
  background-color: var(--primary-color) !important;
}

header h1 a{
  color: var(--white-color) !important;
}

header .search-btn{
  font-size: 18px;
  color: var(--out-color);
  background-color: var(--white-color);
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  box-shadow: 3px 6px 12px var(--text-color);
  transition: .5s;
}

header .search-btn:hover{
  color: var(--white-color);
  background-color: var(--text-gray);
}

/*
===================================
      02. hero-area section
===================================
*/
.hero-area{  
  background: url("../images/background/header-bg.jpg") no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.content-middle{
  padding-top: 15%;
}

.text-bg-light{
  border-radius: 30px;
}

h2 span{
  color: var(--secondary-color);
}

p span{
  font-size: 30px;
  color: var(--out-color);
}

p span sub{
  color: var(--secondary-color);
}

/*
===================================
      03. brand section
===================================
*/

.brand-img a img{
  height: 12rem;
  width: 17rem;  
  margin: 1rem; 
  border: 2px solid var(--secondary-color);
  border-radius: 10px; 
  opacity: 50%;
  transition: .5s;
}

.brand-img a:hover img{
  opacity: 100%;
  border: 3px solid var(--third-color);
  box-shadow: 15px 12px 90px var(--black-color);
}

/*
===================================
      04. slider-section
===================================
*/
.slider-section h1{
  text-align: center;
  margin: 2rem 0;
}

.carousel-item img{
  height: 80vh;
  width: 100vh;
}
/*
===================================
      05. Products section
===================================
*/
.products-section .card img{
  height: 13rem;
  width: 100%;
}

.card-body p{
  font-size: 22px;
  font-weight: 600;
  color: var(--secondary-color);
}

.poducts-dtls{
  display: flex;
  justify-content: space-between;
}

.poducts-dtls strong{
  color: var(--out-color);
  font-size: 18px;
  font-weight: 500;
}

.products-section a .card{
  transition: .5s;
}

.products-section a:hover .card{
  box-shadow: 10px 15px 30px var(--text-gray);
}
/* 
====================================
      06. counter section
====================================
*/
.counter-section{
  background: var(--text-gray);
  padding: 2.5rem 0;
}

.counter-section h2{
  color: var(--primary-color);
}

.counter-section p{
  display: inline-block;
  color: var(--white-color);
  text-transform: uppercase;
}
/* 
====================================
    07. img-slid-section
====================================
*/
#slider{
  background: url("../images/3d-slide/cool-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider-content{
  position: relative;
  width: 250px;
  height: 500px;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
}

@keyframes rotate{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }

  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

.slider-content span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider-content span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  border-radius: 5px;
  object-fit: cover;
  transition: 2s;
}

.slider-content span:hover img{
  transform: translateY(-50px) scale(1.3);
}
/* 
====================================
  08. top sell products section
====================================
*/
.top-sell-products .card{
  border: 2px solid var(--secondary-color);
  transition: all .5s ease-in-out;
}

.top-sell-products .card:hover{
  
  box-shadow: 20px 20px 50px var(--black-color);
}

.top-sell-products .card .card-body p{
  font-size: 20px;
  font-weight: 500;
  color: var(--text-gray);
  transition: .5s;
}

.top-sell-products .card:hover .card-body p{
  color: var(--black-color);
}

.top-sell-products .card-body .card-title{
  font-size: 25px;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: left;
  padding: 25px auto;
  margin: 0;
}

.top-sell-products .card img{
  cursor: pointer;
  height: 17rem;
  width: 100%;
}
/* 
====================================
           09. blog section
====================================
*/
.carousel-inner .carousel-item img{
  height: 700px;
  width: 100%;
}

/* 
====================================
  10. up-coming product section
====================================
*/
.up-coming-products{
  background: url("../images/background/upcoming-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.up-coming-products .card {
  background: var(--text-gray);
  border: 3px solid var(--primary-color);
  margin: 0 auto;
  transition: all .5s;
}

.up-coming-products .card:hover{
  background: var(--white-color);
  box-shadow: 25px 25px 130px var(--white-color); 
}

.up-coming-products .card img{
  height: 17rem;
  width: 100%;
}

.up-coming-products .card:hover h5{
  font-size: 25px;
  font-weight: 550;
  letter-spacing: 3px;
  color: var(--secondary-color);
}